header { 
    height: 70px; 
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 20px;
    height: 60px;
    width: 135px;
    background: url(../images/logo.png);
}